/*Personalizados*/
.panel-btn{
    margin-top: 3px !important;
}

.hamburger{
    padding: 0 10px !important;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before{
    width: 35px !important;
}

.panel-m{
    transform: translateX(100%);
}

.panel-m.is-active{
    transform: translateX(0);
}

@media (min-width: 640px) {
    .hamburger {
        display: none !important;
    }
}

/*Carrito e compras*/
.submenu-carrito{
    position: relative;
}

#carrito{
    display: none;
}

.submenu-carrito:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

/*Carrito compras*/
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 1280px) {
    .btn-action:hover .icono{
        width: auto;
    }
 }